<!DOCTYPE html>
<html lang="en">
    
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document test Index</title>

    
    {% load static %}
    <link rel="stylesheet" href="{% static 'main.css' %}">
</head>


<body>
    <h1 id="home_test">HOME</h1>
    <a href="{% url 'contact'%}">about us</a>

   
    <form action="{% url 'contact' %}">
        {% csrf_token %}
        <input type="text" name="user_input" >
        <input type="submit" name="Click me" >   
    </form>
    <img src="{% static 'Test_image.jpg' %}" alt="My image">
</body>
</html>